<?xml version="1.0" encoding="UTF-8"?>
<web-app id="PersonRegister">
	<display-name>PersonRegister</display-name>
	<servlet>
		<description></description>
		<display-name>List</display-name>
		<servlet-name>List</servlet-name>
		<servlet-class>hu.qwaevisz.forum.servlet.ListServlet</servlet-class>
		<init-param>
			<param-name>entries</param-name>
			<param-value>
				Alice;Lorem ipsum dolor sit amet, consectetur
				adipiscing
				elit.|
				Bob;Donec dui leo, adipiscing ut commodo sit amet,
				sodales in
				est.|
				Charlie;Aliquam porta enim a quam accumsan commodo.
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>hu.qwaevisz.forum.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>hu.qwaevisz.forum.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>