<?xml version="1.0" encoding="UTF-8"?>
<web-app id="FirstServletDemoID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FirstServletDemo</display-name>
	<servlet>
		<description></description>
		<display-name>GreetingAgain</display-name>
		<servlet-name>GreetingAgain</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.GreetingAgain</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>stranger</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description></description>
		<display-name>GreetingWithHtml</display-name>
		<servlet-name>GreetingWithHtml</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.GreetingWithHtml</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Work</display-name>
		<servlet-name>Work</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.Work</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AjaxServlet</display-name>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.AjaxServlet</servlet-class>
	</servlet>	
	<servlet>
		<description></description>
		<display-name>AddYourName</display-name>
		<servlet-name>AddYourName</servlet-name>
		<servlet-class>hu.qwaevisz.servlet.AddYourName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GreetingAgain</servlet-name>
		<url-pattern>/GreetingAgain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GreetingWithHtml</servlet-name>
		<url-pattern>/GreetingWithHtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Work</servlet-name>
		<url-pattern>/Work</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddYourName</servlet-name>
		<url-pattern>/AddYourName</url-pattern>
	</servlet-mapping>
</web-app>