body {
	font-size	: 100%;
	font-family	: Arial, Verdana, sans-serif;
	background-color: #ffffff;
}

.networktable {
	color		: black;
	font-weight	: normal; 
	padding		: 0px;
	margin-top	: 0px;
	margin-bottom	: 0px;
	margin-left	: 20px;
	margin-right	: 20px;
	border		: 0px;
	border-spacing	: 0px;
	width		: 600px;
}

.networktable thead {
	text-align	: center;
	font-weight	: bold; 
}

.networktable td,
.networktable th
{
	border		: 1px solid;
	padding		: 2px;
}

.member img {
	height		: 150px;		
}

.member strong {
	font-size	: 1.6em;
	font-weight	: bold;
}

.member em {
	font-style	: italic;
}