<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="File" fileName="${log-path}/bank.log" filePattern="${log-path}/bank-%d{yyyy-MM-dd}-%i.log" append="false">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" />  -->
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100"/>
		</RollingFile>		
	</Appenders>
	<Loggers>
		<Logger name="hu.qwaevisz.bank" level="trace" additivity="false">
			<AppenderRef ref="File" level="trace" />
			<AppenderRef ref="Console" level="debug" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>